*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primarycolor:hsl(179, 93%, 44%);
  --blue:hsl(183, 100%, 35%);
  --lightblue:hsl(183, 49%, 63%);
  --secondarycolor:hsl(217, 10%, 25%);
  --Backgroundcolor:hsl(216, 19%, 16%);
  --white:hsl(0, 0%, 100%);
  --darkishwhite:hsl(0, 0%, 78%);
}


::-webkit-scrollbar-thumb {
  background: var(--blue);
}
.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background:var(--secondarycolor);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}

footer a {
  color: var(--primarycolor);
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
  color: var(--primarycolor);
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
  border-radius: 100%;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 14px;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: var(--primarycolor);
  width: 100px;
  margin-left: auto;
  background-color: var(--primarycolor);
}

.joinBtn:hover,
.leaveBtn:hover {
  background-color: var(--lightblue);
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color:var(--primarycolor);
  text-decoration: none;
  border-bottom: 1px solid var(--primarycolor);
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: var(--primarycolor);
  border-color:var(--primarycolor);
}

.mainWrap {
  display: flex;
  grid-template-columns: 230px 1fr;
}

.aside {
  flex:0.2;
  background: #1c1e29;
  padding: 0px 16px 16px 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding:20px;
}

.leftaside{
  flex:0.8;
  background-color: black;
  padding:20px 20px 0px 20px;
}

#canvas{
  width:100%;
  overflow-y:hidden;
  height:100%;
}


.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
